<div class="counter-wrapper">
    <div class="field-container">
        <div class="field-layout-wrapper">
            <label class="label" for="counter">Factor</label>
            <input id="counter" class="field" type="number" [(ngModel)]="factor" />
        </div>
    </div>
    <div class="counter">
        <button class="button icon small danger" (click)="decrementCounter()">
            <span class="fa fa-minus"></span>
        </button>
        <p>{{value}}</p>
        <button class="button icon small success" (click)="incrementCounter()">
            <span class="fa fa-plus"></span>
        </button>
    </div>
</div>
