<div class="inner home-page">
  <greeter>Digipolis Angular2 Medewerkersreduxpoc App</greeter>
  <counter [value]="counter$ | async" (increment)="incrementCounter($event)" (decrement)="decrementCounter($event)"></counter>
</div>
