<h4>Dossiers</h4>
<table class="a-table">
  <thead>
    <tr>
      <th>Dossiernr.</th>
      <th>Inschrijving</th>
      <th>Onderwerp</th>
      <th>Aanvrager</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="loading">
      <td colspan="5" style="text-align: center">
        <div class="a-spinner"></div>
      </td>
    </tr>
    <tr *ngFor="let dossier of dossiers$ | async">
      <td>{{dossier.dossierNr}}</td>
      <td>{{dossier.dateOfApplication | date:'dd/MM/y'}}</td>
      <td>{{dossier.subject}}</td>
      <td>{{dossier.applicant}}</td>
    </tr>
  </tbody>
</table>
<form>
  <input type="text" name="dossiernr" [(ngModel)]="newDossier.dossierNr">
  <input type="date" name="date" [(ngModel)]="newDossier.dateOfApplication">
  <input type="text" name="subject" [(ngModel)]="newDossier.subject">
  <input type="text" name="applicant" [(ngModel)]="newDossier.applicant">
  <button type="submit" (click)="createDossier()">Save</button>
</form>
